<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<head>
<title>Người dùng</title>
</head>

<body>
	<!-- Page Content -->

	<div class="container-fluid" layout:fragment="content">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Chi tiết thành viên</h4>
			</div>
		</div>
		<!-- /.row -->
		<!-- .row -->
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="white-box">
					<div class="user-bg">
						<img width="100%" alt="user"
							th:src="@{/assets/plugins/images/large/img1.jpg}">
						<div class="overlay-box">
							<div class="user-content">
								<a href="javascript:void(0)"><img
									th:src="@{/assets/plugins/images/users/genu.jpg}"
									class="thumb-lg img-circle" alt="img"></a>

								<h4 class="text-white" th:text="${user.fullname}">User Name</h4>
								<h5 class="text-white" th:text="${user.email}">info@myadmin.com</h5>
							</div>
						</div>
					</div>
					<div class="user-btm-box">
						<div class="col-md-4 col-sm-4 text-center">
							<p class="text-purple">
								<i class="ti-facebook"></i>
							</p>
							<h4 th:text="${rate_non} + '%'"></h4>
							<h6>Chưa thực hiện</h6>
						</div>
						<div class="col-md-4 col-sm-4 text-center">
							<p class="text-blue">
								<i class="ti-twitter"></i>
							</p>
							<h4 maxlength="4" th:text="${rate_doing} + '%'">50%</h4>
							<h6>Đang thực hiện</h6>
						</div>
						<div class="col-md-4 col-sm-4 text-center">
							<p class="text-danger">
								<i class="ti-dribbble"></i>
							</p>
							<h4 th:text="${rate_complete} + '%'">30%</h4>
							<h6>Hoàn thành</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="white-box">
					<form class="form-horizontal form-material">
						<div class="form-group">
							<label class="col-md-12">Họ và tên: </label> <span
								class="col-md-12" th:text="${user.fullname}"></span>
										<hr width="100%" align="left" />
						</div>
						<div class="form-group">
							<label for="example-email" class="col-md-12">Email: </label> <span
								class="col-md-12" th:text="${user.email}"></span>
								<hr width="100%" align="left" />
						</div>
						<div class="form-group">
							<label class="col-md-12">Số điện thoại: </label> <span
								class="col-md-12" th:text="${user.phone}"></span>
								<hr width="100%" align="left" />
						</div>
						<div class="form-group">
							<label class="col-md-12">Địa chỉ: </label> <span
								class="col-md-12" th:text="${user.address}"></span>
								<hr width="100%" align="left" />
						</div>
						<div class="form-group">
							<label class="col-md-12">Số công việc: </label> <span
								class="col-md-12" th:text="${num_task}"></span>
								<hr width="100%" align="left" />
						</div>

					</form>
				</div>
			</div>
		</div>
		<br />
		<!-- /.row -->
		<!-- BEGIN DANH SÁCH CÔNG VIỆC -->
		<h4>DANH SÁCH CÔNG VIỆC</h4>
		<div class="row">
			<div class="col-md-4">
				<div class="white-box">
					<h3 class="box-title">Chưa thực hiện</h3>
					<div class="message-center">
						<a href="#">
							<div class="mail-contnet">
								<div th:if="${list_non.empty}">
									<h5>Không có công việc nào!</h5>
								</div>
								<div th:each="item:${list_non}">
									<h5 th:text="${item.name}"></h5>
									 <hr width="40%" align="left" />
								</div>

							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="white-box">
					<h3 class="box-title">Đang thực hiện</h3>
					<div class="message-center">
						<a href="#">
							<div class="mail-contnet">
								<div th:if="${list_non.empty}">
									<h5>Không có công việc nào!</h5>
								</div>
								<div th:each="item:${list_doing}">
									<h5 th:text="${item.name}"></h5>
									<hr width="40%" align="left" />
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="white-box">
					<h3 class="box-title">Đã hoàn thành</h3>
					<div class="message-center">
						<a href="#">
							<div class="mail-contnet">
								<div th:if="${list_non.empty}">
									<h5>Không có công việc nào!</h5>
								</div>
								<div th:each="item:${list_done}">
									<h5 th:text="${item.name}"></h5>
								<hr width="40%" align="left" />
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- END DANH SÁCH CÔNG VIỆC -->
	</div>



</body>

</html>